gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
gc-max-time-slice=28
customized-thread-max=8
enableconcurrentio=1
compresscachesize=109051904
enablerenderingcommandbuffertempalloc=1
enableskipdisabledparticlesystemmodules=1
enableAssetBundleLoadFromAsyncOperationPriority=1
enableFastPhysxInteractionOptim=1
NeedPresentThread=1
enableUseStaticSamplers=1
gfx-disable-manual-hook-streamline=1
enableSwitchD3D12SwapChain=1
XeSS_EnableDx11=1
enableLoadAssetDirectly=1
gpu-skinning-mode=1
gfx-enable-instancing=1
