gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=1
gc-max-time-slice=1
customized-thread-max=4
enableconcurrentio=1
compresscachesize-10485760
enablerenderingcommandbuffertempalloc=1
enableskipdisabledparticlesystemmodules=1
enableAssetBundleLoadFromAsyncOperationPriority=1
enableFastPhysxInteractionOptim=1
NeedPresentThread=1
enableUseStaticSamplers=1
gpu-skinning-mode=1
gfx-enable-instancing=1
gfx-disable-manual-hook-streamline=1
enableSwitchD3D12SwapChain=1
streaming-use-dynamic-batching=1
streaming-use-optimal-texture-packing=1
force-d3d12-pso-cache-clear=1
d3d12-discard-shader-cache=1
enablepreloadtexture=0
EnablePreloadAudio=0
r.UseShaderCaching=0
r.UseShaderPredraw=0
r.OneFrameThreadLag=0
r.Streaming.FullyLoadUsedTextures=1
r.Streaming.HLODStrategy=2
r.Streaming.DefragDynamicBounds=1
r.Streaming.Boost=6
r.Streaming.LimitPoolSizeToVRAM=1
r.ShadowQuality=0
r.LandscapeLODDistributionScale=0
r.ViewDistanceScale=0.1